.side-bar-nav{
  .nav-link {
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
  }
  
  .nav-link:hover,
  .nav-link.active {
    background-color: #4b4b7c;
    border-radius: 4px;
  }
  .nav-link.active::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 100%;
    background-color: #FFFFFF;
  }
  .side-white-decoration{
    width: 20px;
    background-color: #FFFFFF;
    border-radius: 4px;
  }
  /* .nav-item {
    margin-bottom: 1rem;
  } */
}
