.side-bar-nav{
  .nav-link {
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
  }
  
  .nav-link:hover,
  .nav-link.active {
    background-color: #4b4b7c;
    border-radius: 4px;
  }
  
  .side-white-decoration{
    width: 8px;
    background-color: #FFFFFF;
    border-radius: 4px 0px 0px 4px;
  }
  /* .nav-item {
    margin-bottom: 1rem;
  } */
}
