.img-container{
  position: relative;
  display: inline-block; /* Ensures it fits to the content */
}
.orange-box {
  position: absolute;
  top: -25px;
  left: -25px;
  width: 162.3px;
  height: 136.84px;
  background-color: var(--secondary); /* Adjust the color of the box */
  z-index: -1;
}

.dotted-box {
  position: absolute;
  bottom: -10px;
  right: -10px;
  width: 80px;
  height: 100px;
  background-image: radial-gradient(black 1px, transparent 1px);
  background-size: 8px 8px;
  z-index: 5;
  opacity: 0.5;
}
.section2 {
  margin-top: 150px;
}
.section2 h5{
  font-size: 32px;
}
.aboutUs-title{
  font-size: 39px;
}
.aboutUs-subtitle{
  font-size: 20px;
}
.underLine {
  border-bottom: 1px solid var(--secondary) !important;
  color: var(--secondary);
}
.rounded{
  display: block;
  max-width: 100%;
  height: auto;
}