/* src/styles/Home.css */
.home-container {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header Section */
.home-header {
  background: linear-gradient(135deg, #ff5e62, #ff9966);
  color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header-content {
  max-width: 800px;
  padding: 20px;
}

.main-title {
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
  letter-spacing: 2px;
  line-height: 1.2;
}

.tagline {
  font-size: 1.2rem;
  margin: 20px 0;
  font-weight: 300;
}

.cta-btn {
  background-color: #ff9966;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 1.1rem;
  border-radius: 30px;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.cta-btn:hover {
  background-color: #ff5e62;
  transform: scale(1.05);
}

/* Features Section */
.features-section {
  display: flex;
  justify-content: space-around;
  margin: 50px 0;
  padding: 0 20px;
  flex-wrap: wrap;
}

.feature-item {
  text-align: center;
  width: 280px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
  transition: all 0.3s ease;
}

.feature-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.feature-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 15px;
}

.feature-description {
  font-size: 1rem;
  color: #666;
  font-weight: 300;
}

/* Footer Section */
.home-footer {
  text-align: center;
  padding: 20px 0;
  background-color: #333;
  color: white;
}

.home-footer p {
  font-size: 1rem;
  margin: 0;
}

/* App.css */
.first-half-section {
  height: 100vh; /* Full viewport height */
  width: 100%; /* Full width */
  background-image: url('../assets/Rectangle14.png'); /* Your background image URL */
  background-size: cover; /* Make sure the image covers the section */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  position: absolute; /* Required for overlaying the gradient */
}

.first-half-section::before {
  content: ''; /* Necessary for a pseudo-element */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to right, white, #13094AF2); /* Gradient from blue to white */
  opacity: 0.5; /* Adjust opacity for the gradient if necessary */
  pointer-events: none; /* Prevent interference with clicks */
}

