.bar-container {
  position: relative;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.bar-container::after {
  content: "";
  top: 0;
  margin-right: 30px;
  display: block;
  position: absolute;
  width: 7%;
  height: 70%;
  background-color: white; /* Bar color */
  margin-top: 6px;
}
.bar-container2 {
  position: relative;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.bar-container2::after {
  content: "";
  top: 0;
  margin-right: 105%;
  display: block;
  position: absolute;
  width: 0.5%;
  height: 70%;
  background-color: white; /* Bar color */
  margin-top: 6px;
}
.date {
  font-size: 16px;
}

/* Home */
.home
{
  background-image: linear-gradient(to right, rgba(34, 32, 32, 0.541) 4%, rgba(65, 63, 105, 0.973) 100% ),url("../images/bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 715px;
  width: 100%;
} 
.login-btn
{
  color: #2E255F;
  font-weight: bold;
  padding: 10px;
}
.firstP
{
  font-size: 24px;
  color: #EBAE3B;
  font-weight: 500;
}
.firstP2
{
  font-size: 30px;
  font-weight: 700;
}
.firstP3
{
  font-size: 19px;
}
.service
{
  background-color: rgba(255, 255, 255, 0.164);
  border: 1px solid white !important;
  border-radius: 14px;
  padding: 15px 30px;
}


.stats-box {
  background-color: #ffffff; /* White background */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.border-end {
  border-right: 1px solid #dee2e6; /* Divider between columns */
}

.text-warning {
  color: #ffcc00; /* Gold color for numbers */
}

.text-success {
  color: #28a745; /* Green text for percentages */
}

i {
  font-size: 0.9rem;
}
.projectsNum
{
  margin-top: 130px;
}

/* Section 2 */
/* Custom Styling for AboutUs Component */
.orange-box {
  position: absolute;
  top: -15px;
  
  left:125px;
  width: 120px;
  height: 120px;
  background-color: #ffcc00; /* Orange color */
  z-index: -1;
}

.dotted-box {
  position: absolute;
 
  bottom: -10px;
  right: -10px;
  width: 80px;
  height: 100px;
  background-image: radial-gradient(black 1px, transparent 1px);
  background-size: 8px 8px;
  z-index: 5;
  opacity: 0.5;
}

.text-warning {
  color: #ffcc00; /* Gold color for highlighted text */
}

.text-primary {
  color: #6a11cb; /* Custom primary color */
}
.section2{
  margin-top: 150px;
}
.borderr{
  border-bottom: 1px solid black !important;
}
.coloredP1
{
  color: #2E255F;
  font-weight: bolder
}
.coloredP2
{
  color: rgba(22, 12, 77, 0.65);
  font-size: 18px;
}

/* section3 */
.section3
{
  background-image:linear-gradient(to right, rgba(65, 63, 105, 0.959) 1%, rgba(65, 63, 105, 0.925) 80% ), url("../images/37c72c4e8da526d887301b5f08672e0f.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height:400px;
  width: 60%;
}
.quoteText
{
  max-width: 750px;
  line-height: 35px;
}
/* .quoteText p{
  font-weight: 400;
} */
.secondQouteIcon
{
  flex-direction: column;
  flex-flow: column-reverse;
  padding-bottom: 25px;
}

.coloredP3
{
  font-weight: 700;
  font-size: 22px;
}
.vector
{
  width: 2%;
}
.coloredP4
{
  text-align: center;
}
.centerP{
  text-align: center;
  color: white;
  font-size: 14px;
  font-weight: 700;
}
/* Section 4 */
/* General Text Alignment */
.text-right {
  text-align: right;
}

/* Box Styling */
.content-box {
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #e6e6e6;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Title Styling */
.title {
  font-weight: bold;
  margin-bottom: 15px;
}

.icon {
  font-size: 20px;
  margin-left: 8px;
}

/* Text Styling */
.content-text {
  font-size: 1rem;
  color: #555;
  line-height: 1.8;
}

.lightImg{
  width: 80%;
  
}
.lightIcon
{
  border: 0.5px solid ;
  border-radius: 50%;
  padding: 3px;

}
.coloredP5
{
  color: rgba(22, 12, 77, 1);
}
.text-justify
{

  text-align: justify;
  font-size: 16px;
  color: rgba(22, 12, 77, 0.65);
  font-weight: 400;
}


/* section 5 */
.we{
  background-image:linear-gradient(to right, rgba(65, 63, 105, 0.959) 1%, rgba(65, 63, 105, 0.925) 80% ), url("../images/6f7e431dfc49da91637306e45c3239eb.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 350px;
 
}
/* Section Background */


/* Circular Icon Styling */
.icon-circle {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  background-color: #fcb503; /* White background for icons */
  color:white ; /* Number color */
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 50%; /* Makes it circular */
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Heading Styling */
h2 span.text-warning {
  color: #fcb503; /* Custom warning color */
}


/* Feature Item Text */
.feature-item h5 {
  font-weight: bold;
}

.feature-item p {
  font-size:12px;
  margin-top: 10px;
}

/* section 6 */
/* Section Background */
.services-section {
  background-color: #f9f9f9;
}

/* Section Header Styling */
.section-header {
  font-size: 2rem;
  font-weight: bold;
  color: #3d3d3d;
}

.section-header .text-warning {
  color: #fcb503; /* Custom orange color */
}

/* Service Card Styling */
.service-card {
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.service-card:hover {
  transform: translateY(-5px);
}

/* Icon Circle Styling */
.icon-circle2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65px;
  height: 65px;
  margin: 0 auto;
  border-radius: 50%;
  background-color: #e0e0e0;
 
}
.service-card1
{
  border:2px solid rgba(156, 143, 240, 0.699);
}
.card-title2
{
  color: #2E255F;
  padding-bottom: 7px;
}
.icon-circle img {
  width: 45px;
  height: 45px;
}

/* Card Title Styling */
.card-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.card-text {
  font-size: 0.9rem;
  color: #555555;
  line-height: 1.6;
}
.presentIT
{
  color: rgba(22, 12, 77, 1);
}
.projectCard1
{
  background-color: rgba(76, 70, 108, 1);
}


/* section 7 */
.review-background
{
  background-image:linear-gradient(to right, rgba(65, 63, 105, 0.959) 1%, rgba(65, 63, 105, 0.925) 80% ), url("../images/image.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 550px;
 
}
/* Container for the layers */
.layered-container {
  position: relative;
  width:1000px;
  height: 500px;
  margin: 1px auto;
 
  overflow: hidden;
}

/* Base style for layers */
.layer {
  position: absolute;
  border: 2px solid transparent;
  border-radius: 15px;
  margin-bottom: 100px;
 
}

/* Layer 1: Largest */
.layer-1 {
  width: 650px;
  height: 310px;
  background-color: #dee2e6; /* Yellow */
  z-index: 1;
}

/* Layer 2: Medium */
.layer-2 {
  width: 620px;
  height: 330px;
  background-color: whitesmoke;/* Dark Purple */
  z-index: 2;
}

/* Layer 3: Smallest */
.layer-3 {
  width: 580px;
  height: 350px;
  background-color: white; /* Light Blue */
 
  z-index: 3;
}

.dotted-box2 {
  position: absolute;
  bottom: 410px;
  right: 120px;
  width: 130px;
  height: 170px;
  background-image: radial-gradient(white 1px, transparent 2px);
  background-size: 10px 10px;
  z-index: 0;
 
}
.dotted-box3 {
  position: absolute;
  bottom: 110px;
 
  left: 120px;
  width: 130px;
  height: 130px;
  background-image: radial-gradient(rgba(235, 174, 59, 1) 1px, transparent 2px);
  background-size: 10px 10px;
  z-index: 50;
 
}
/* kjhjgvhfcgd */

/* Section Background */
.testimonial-section {
 
  position: relative;
}

/* Testimonial Card */
.testimonial-card {
  background-color: #ffffff;
  color: #333333;
  padding: 2rem;
  max-width: 700px;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
}

/* Quote Icon */
.quote-icon {
  font-size: 3rem;
  color: #fcb503;
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
}

/* Star Rating */
.stars {
  color: #fcb503;
  font-size: 1rem;
 
}

/* Testimonial Text */
.testimonial-text {
  font-size: 15px;
  line-height: 1.8;
}

/* Custom Arrows */
.custom-arrow .carousel-control-prev-icon,
.custom-arrow .carousel-control-next-icon {
  background-color: wheat;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 20px;
  
}

/* Pagination Dots */
.carousel-indicators [data-bs-target] {
  background-color: #fcb503;
  border-radius: 50%;
  width: 12px;
  height: 12px;
}





/* Arrow styling */
.arrow {
  color: #4d3c77; /* Dark purple arrow */
  font-size: 18px;
  font-weight: bold;
}

/* Hover effect for the button */
.circular-btn:hover {
  transform: scale(1.1); /* Slight zoom */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}
.button-container
{
  margin-right: 170px;
  padding-top: 20px;

}


