/* src/styles/Navbar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  color: white;
  padding: 10px 20px;
  font-family: 'Arial', sans-serif;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.login-btn {
  background-color: #d59c2c;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-btn:hover {
  background-color: #b27b1d;
}

/* Center Section */
.navbar-center .navbar-links {
  display: flex;
  gap: 20px;
}

.navbar-center .navbar-links a {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: bold;
}

.navbar-center .navbar-links a:hover {
  color: #d59c2c;
}

/* Right Section */
.navbar-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.time {
  font-size: 1rem;
}

.contact-icons {
  display: flex;
  gap: 10px;
}

.contact-icons .icon {
  font-size: 1.5rem;
  color: white;
  transition: color 0.3s ease;
}

.contact-icons .icon:hover {
  color: #d59c2c;
}

.language-selector {
  color: white;
  font-size: 1rem;
}

.navbar-logo {
  width: 50px;
  height: auto;
}
